/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #caf0f8;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.navbar {
  background-color: #caf0f8;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.section-slide {
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  box-sizing: border-box;
}

.section-slide--section2 {
  height: auto;
  background-color: white;
}

.parent {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.progress {
  background-color: black;
}

.progress-bar {
}

.section-slide--section3 {
  height: 100vh;
  background-color: #caf0f8;
  place-items: center;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.section-slide--section3 .container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.section-slide--section3 .container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #ff9f55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -16px;
}

.section-slide--section3 .content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left::after,
  .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }
}

.section-slide--section4 {
  height: auto;
  background-color: white;
}

.section-slide--section5 {
  width: auto;
  background-color: #caf0f8;
}

.section-slide--section5 .card-img-top {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.section-slide--section6 {
  height: auto;
  background-color: white;
}
