/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #c8ccee;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.navbar {
  background-color: #c8ccee;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.section-slide {
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  box-sizing: border-box;
}

.section-slide--section2 {
  height: 100vh;
  background-color: white;
}

.section-slide--section3 {
  height: 100vh;
  background-color: #c8ccee;
}

.row-col-sm-12 {
  place-content: center;
}

.section-slide--section4 {
  height: auto;
  background-color: white;
}

.section-slide--section5 {
  width: 100vh;
  background-color: #c8ccee;
}

.section-slide--section5 .card-img-top {
  width: 600px;
  height: 600px;
}

.section-slide--section6 {
  height: 100vh;
  background-color: white;
}
